<div class="basic-form">
  <h1>Sign in, please</h1>
  <%= form_for(:session, url: login_path) do |f| %>
    <div class="finput">
      <div class="flabel"><%= f.label :email %></div>
      <%= f.email_field(:email) %>
    </div>
    <div class="finput">
      <div class="flabel"><%= f.label :password %></div>
      <%= f.password_field(:password) %>
    </div>  
    <div class="fselect">  
      <%= f.check_box(:remember_me, {checked: true}) %>&nbsp;&nbsp;&nbsp;&nbsp;Remember me in this web browser
    </div>
    <div class="fsubmit">
      <%= f.submit(value: "Log In") %>
    </div>
  <% end %>
  <div class="forgotten-password">
    <%= link_to("I forgot my password", new_password_reset_path) %>
  </div>
</div>
