<h1>User Account Activation</h1>

<p>
  <%= @user.name %>,
</p>
<p>
  Click the link below to activate your account:    
</p>

<%= link_to("Activate", edit_account_activation_url(@user.activation_token, email: @user.email)) %>

