<h1>Password Reset</h1>

<p>To reset your password, click the link below:</p>

<%= link_to("Reset Password", edit_password_reset_url(@user.reset_token, email: @user.email)) %>

<p>This link will expire in two hours.</p>

<p>If you didn't request this password, just ignore this.</p>
