<h1>Private Message</h1>

<p>
  <%= @recipient.name %>,
</p>
<p>
  <b><u><%= @private_message.subject %></b></u><br>
  <%= @private_message.message.truncate(100, separator: /\s/) %>
</p>


<%= link_to("See the full message", private_message_url(@private_message)) %>