Hey <%= @recipient.name %>,

You received a private message.

Subject: <%= @private_message.subject %>
<%= @private_message.message.truncate(100, separator: /\s/) %>

See the full message:
<%= private_message_url(@private_message) %>