<div class="basic-form">
  <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
    <%= hidden_field_tag(:email, @user.email) %>
    <div class="finput clearfix">
      <div class="flabel"><%= f.label(:password) %></div>
      <%= f.password_field(:password) %>
    </div>
    <div class="finput clearfix">
      <div class="flabel"><%= f.label('Confirm Password') %></div>
      <%= f.password_field(:password_confirmation) %>
    </div>
    <div class="fsubmit clearfix">
      <%= f.submit("Update Password") %>
    </div>
  <% end %>
</div>
