<div class="basic-form">
  <%= form_for(:password_reset, url: password_reset_index_path) do |f| %>
  <div class="finput clearfix">
    <div class="flabel"><%= f.label(:email) %></div>
    <%= f.email_field(:email) %>
  </div>
  <div class="fsubmit clearfix">
    <%= f.submit("Submit") %>
  </div>
  <% end %>
</div>
  
  
  
  
  
