<h1><%= @heading %></h1>

<div class="basic-form">
  <%= form_for(@user, html: { multipart: true }) do |f| %>
    <div class="finput clearfix">
      <div class="flabel"><%= f.label("Desired user name") %></div>
      <%= f.text_field(:name) %>
    </div>
    <div class="finput clearfix">
      <div class="flabel"><%= f.label("Password") %></div>
      <%= f.password_field(:password) %>
    </div>
    <div class="finput clearfix">
      <div class="flabel"><%= f.label("Confirm password") %></div>
      <%= f.password_field(:password_confirmation) %>
    </div>
    <div class="finput clearfix">
      <div class="flabel"><%= f.label("Your email") %></div>
      <%= f.text_field(:email) %>
    </div>
    <div class="ffile clearfix">
      <div class="flabel"><%= f.label("Your Image") %></div>
      <%= f.file_field(:avatar) %>
    </div>  
    <div class="finput clearfix" id="user-bio">
      <div class="flabel"><%= f.label("Biography") %></div>
      <%= f.text_area(:biography, :rows => 8) %>
    </div>  
    <div class="fsubmit clearfix">
      <%= f.submit(@form_submit, :id => "new-edit-submit") %>
    </div>
  <% end %>
</div>
