<div class="user-listing clearfix">
  <%= image_tag(user.avatar.url(:thumb), style: 'float:left; margin:0 12px 0 0; width: 100px; height: 100px') %>

  <span class="name">
    <%= link_to(user.name, user_path(user)) %>
    <%= "*" if user.role == 'admin' %>
  </span>  

  <div class="action-link"><%= link_to("[edit]", edit_user_url(user)) if is_self?(user.id) || is_admin? %></div>
  <div class="action-link"><%= link_to("[delete me]", delete_user_url(user)) if is_self?(user.id) || is_admin? %></div>

  <div class="biography">
    <%= truncate(user.biography, :length => 125) %>
  </div>  
</div>