<h1>Original Image</h1>
<div class="basic-form">
  <%= form_for(@user, html: { multipart: true }) do |f| %>
    <div class="fcrop clearfix">
      <div class="image">
        <%= f.cropbox :avatar, :width => 300 %>
      </div>
    </div>
    <h1>Crop Preview</h1>
    <%= f.crop_preview :avatar %>
    <div class="fsubmit clearfix">
      <%= f.submit 'Save' %>
    </div>
  <% end %>
</div>
