<div class="basic-form">
  <%= form_for(@user, :method => 'delete') do |f| %>
    Are you sure that you want to delete <%= @user.name %>?<br>
    This cannot be undone.<br><br>
    <div class="fsubmit">
      <%= f.submit("Yes, Delete me") %>
    </div>
  <% end %>
</div>