<div class="text-content-wrapper">
  <h1>User Directory</h1>
  <%= render @users %>
  <div class="pagination_info">
    <%= page_entries_info @users, :model => 'message' %>
  </div>
  <div class="pagination">
    <%= will_paginate(:container => false, :previous_label => '<< Back', :next_label => 'Forward >>') %>
  </div>
</div>