<div class="user-page clearfix">
  <div class="text-content-wrapper">
    <h1><%= @user.name %></h1>
    <div class="profile-wrapper">
      <div class="user-image clearfix">
          <% if is_self?(@user.id) || is_admin? %>
              <div class="dropdown-edit">
                <button class="dropbtn-edit">Editing Options</button>
                <div class="dropdown-edit-content">
                  <%= link_to("[Crop Image]", crop_avatar_user_url(@user), :"data-turbolinks" => false) %>
                  <%= link_to("[Edit Profile]", edit_user_url(@user), :"data-turbolinks" => false) %>
                </div>
              </div><br>       
          <% end %>       
        <%= image_tag(@user.avatar.url(:medium)) %>
        <div class="user-contact">
          <%= link_to("Send Private Message", new_private_message_url("private_message[user_id]" => @user.id)) %>
        </div>
      </div>
    <%= simple_format(@user.biography) %>
    </div>
  </div>
</div>

