<div class="message-listing clearfix">
  <div class="image">
    <%= image_tag(User.find(private_message.sender_id).avatar.url(:thumb)) %>  
  </div>  
  <div class="subject <%= "unread" if private_message.read_date.blank? %>">
    <%= link_to("[NEW]", private_message_url(private_message)) if private_message.read_date.blank? %> 
    <%= link_to(private_message.subject.truncate(60, separator: /\s/), private_message_url(private_message)) %>   
  </div>
  <div class="sent-date">From <%= User.find(private_message.sender_id).name %> - <%= time_ago_in_words(private_message.created_at) %> ago</div>
  <div class="intro">
    <%= private_message.message.truncate(150, separator: /\s/) %>  
  </div>    
</div>