<div class="basic-form">
  <%= form_for(@private_message, :method => 'delete') do |f| %>
    Are you sure that you want to delete <%= @private_message.subject %>?<br>
    This cannot be undone.<br><br>
    <div class="fsubmit">
      <%= f.submit("Yes, Delete the message") %>
    </div>
  <% end %>
</div>