<div class="text-content-wrapper">
  <h1>Private messages</h1>
  <% if @private_messages.blank? %>
    You do not have any messages.
  <% end %>
  <%= render @private_messages %>
  
  <div class="pagination_info">
    <%= page_entries_info @private_messages, :model => 'message' %>
  </div>
  <div class="pagination">
    <%= will_paginate(:container => false, :previous_label => '<< Back', :next_label => 'Forward >>') %>
  </div>
</div>

