<h1>Send a message to <%= User.find(@private_message.user_id).name %></h1>

<div class="basic-form">
  <%= form_for(@private_message) do |f| %>
    <%= f.hidden_field(:user_id, :value => @private_message.user_id) %>
    <div class="finput clearfix">
      <div class="flabel"><%= f.label(:subject) %></div> 
      <%= f.text_field(:subject) %>
    </div>
    <div class="finput clearfix" id="user-bio">
      <div class="flabel"><%= f.label(:message) %></div>
      <%= f.text_area(:message, :rows => 8) %>
    </div>  
    <div class="fsubmit clearfix">
      <%= f.submit("Send Message") %>
    </div>    
  <% end %>  
</div>