<div class="text-content-wrapper">
  <div class="private-message clearfix">
    <div class="avatar">
      <%= link_to(image_tag(User.find(@private_message.sender_id).avatar.url(:thumb)), image_url(User.find(@private_message.sender_id).avatar.url(:medium)), target: '_blank')%>
    </div>
    <div class="subject">
       <%= @private_message.subject %>
    </div>  
    <div class="sender">
      From <%= User.find(@private_message.sender_id).name %>  
    </div>
    <div class="message">
      <%= simple_format(@private_message.message) %>  
    </div>
    <%= link_to("Delete this message", delete_private_message_path(@private_message)) %>&nbsp;|&nbsp;
    <%= link_to("Mark as unread", unread_private_message_url(@private_message)) %>&nbsp;|&nbsp;
    <%= link_to("Reply", new_private_message_url("private_message[user_id]" => @private_message.sender_id, "private_message[reply_id]" => @private_message.id)) %>
  </div>
</div>

