/* GENERAL VARS */
$body-color: #e4e4e4;
$green-accent: #123f2b;
$general-text-color: #555555;
$linked-text-color: #123f2b;
$unread-message-text-color: #123f2b;
$general-font: Fira Sans, sans-serif;
$heading-font: Patua One, sans-serif;

/* NAVIGATION VARS */
$navigation-font: Fira Sans, sans-serif;
$navigation-background: #dfdfdf;
$navigation-color: #111111;
$navigation-current-page: #123f2b;
$reverse-text-color: #dfdfdf;
$dropdown-background: #000000;
$dropdown-hover: #222222;
$dropdown-text: #e4e4e4;
$dropdown-font: Fira Sans, sans-serif;

/* FORM VARS */
$form-general-field-color: #ffffff;
$form-label-text-color: #123f2b;
$form-text-color: #444444;
$form-general-field-border-color: #555555;
$form-general-submit-text-color: #dfdfdf;


/* GENERAL ATTRIBUTES */
html, body {
    font-family: Fira Sans, sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    background: #777777;
}
h1 {
    margin: 50px 0 35px;
    padding: 0;
    color: $green-accent;
    text-align: center;
    font-family: $heading-font;
}

/* PROFILE PAGE */
.profile-wrapper {
    .user-image {
        float: right;
        text-align: center;
        margin: 0 0 0 32px;
        clear: both;
    }
    .user-contact {
        width: 100%;
        background: $green-accent;
        text-align: center;
        padding: 6px 0;
        border-radius: 6px;
        a {
            color: $reverse-text-color;
            text-decoration: none;
            font-weight: normal;
        }
    }
}

/* PAGINATION */
.pagination_info {
    width: 100%;
    text-align: center;
    margin: 40px 0 0 0;
}
.pagination {
    width: 100%;
    text-align: center;
    margin: 12px 0 0 0;
    color: #666666;
    a {
        text-decoration: none;
        padding: 4px 8px;
        font-weight: bold;
        color: #123f2b;
    }
    a:hover {
        text-decoration: underline;
    }
    .current {
        padding: 4px 8px;
    }
}

/* PRIVATE MESSAGE FULL */
.private-message {
    margin: 50px 0 0 0;
    padding: 30px 0 0 0;
    .avatar {
        float: right;
        img {
            border-radius: 50%;
        }
    }
    .subject {
        padding: 0;
        color: $green-accent;
        text-align: left;
        font-family: $heading-font;    
        font-size: 24px;
    }
    .sender {
        color: $general-text-color;
        font-size: 14px;
        font-style: italic;        
    }
    .message {
        margin: -12px 0 0 0;
    }
}

/* PRIVATE MESSAGE LIST */
.message-listing {
    border-bottom: 1px #888888 dotted;
    padding: 0 0 24px 0;
    margin: 0 0 24px 0;
    line-height: normal;
    .subject {
        margin: 0 0 6px 0;
        font-size: 18px;
        a {
            text-decoration: none;
            color: $linked-text-color;
        }
    }
    .intro {
        margin: 6px 0 0 0;
        color: $general-text-color;
        font-size: 15px;
    }
    .image {
        float: right;
        img {
            border-radius: 50%;
            width: 75px;
            height: 75px;
        }
    }
    .sent-date {
        color: $general-text-color;
        font-size: 12px;
        font-style: italic;
    }
    .unread {
        font-weight: bold;
        a {
            color: $unread-message-text-color;
        }
    }    
}

/* USER LISTING */
.user-listing {
    padding: 24px 0;
    border-bottom: 1px #888888 dotted;
    .action-link {
        float: right;
        margin: 0 12px 0 0;
        font-size: 12px;
    }
    .biography {
        margin: 12px 0 0 0;
    }
    .name {
        font-weight: bold;
    }
}

/* SCREEN TOP NAVIGATION */
.menu-collapsed {
    display: none; 
    float: left;
}
.screen-top-navigation {
    float: left;
    font-family: $dropdown-font;
    line-height: 30px;
    background: $dropdown-background;
    .current {
        background: #444444;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            float: left;
            padding: 6px 12px;
            margin: 0;
            a {
                text-decoration: none;
                color: $dropdown-text;
            }
        } 
        li:hover {
            background: $dropdown-hover;
        }
    }
    
}

/* EDIT PROFILE DROPDOWN */
.dropdown-edit {
    display: inline-block;    
    clear: both;
    background: $green-accent;
    text-align: center;
    padding: 6px 0;
    border-radius: 6px;
    margin: 0 0 12px 0;
    a {
        color: $reverse-text-color;
        text-decoration: none;
        font-weight: normal;
    }
}
.dropbtn-edit {
    font-family: $dropdown-font;
    line-height: 30px;
    background-color: $green-accent;
    color: $dropdown-text;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 150px;
    text-align: center;
}
.dropdown-edit-content {
    font-family: $dropdown-font;
    background-color: $green-accent;
    display: none;
    position: absolute;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
} 
.dropdown-edit-content a {
    font-family: $dropdown-font;
    color: $dropdown-text;
    padding: 3px 20px;
    text-decoration: none;
    display: block;
    border-top: 1px #ffffff dotted;
}
.dropdown-edit-content a:hover {
    background-color: $dropdown-hover;
}
.dropdown-edit:hover .dropdown-edit-content {
    display: block;
}

/* USER MENU DROPDOWN */
.user-nav {
  background-color: $dropdown-background;
  text-align: right;
  img {
      vertical-align: middle;
  }
}
.dropbtn {
    font-family: $dropdown-font;
    line-height: 30px;
    background-color: $dropdown-background;
    color: $dropdown-text;
    padding: 6px 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 150px;
    text-align: right;
}
.dropdown {
    position: relative;
    display: inline-block;
    img {
        vertical-align: middle;
        margin: 0 15px 0 0;
    }
}
.dropdown-content {
    font-family: $dropdown-font;
    background-color: $dropdown-background;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.dropdown-content a {
    font-family: $dropdown-font;
    color: $dropdown-text;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    border-top: 1px #ffffff dotted;
}
.dropdown-content a:hover {
    background-color: $dropdown-hover;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* HERO IMAGE */
.hero {
    background: image-url('hero.jpg');
    height: 300px;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1 {
            color: #ffffff;
            font-size: 60px;
            font-weight: normal;
        }        
    }    
}

/* GENERAL FORMS */
.basic-form {
    max-width: 500px;
    border-radius: 12px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px 20px;
    .forgotten-password {
        margin: 30px 0 0 0;
    }
    .ffile {
        color: $form-label-text-color;
        width: 90%;
        margin: 0 0 8px 0;
        .flabel {
            width: 33%;
            float: left;
            text-align: right;
            padding: 2% 5% 2% 0;
        }
        input {
            color: $form-text-color;
            background: $form-general-field-color;
            font-size: 16px;
            width: 59%;
            margin: 0;
            border: 0;
            padding: 1.5%;
            border-radius: 6px;
        }
    }    
    .finput {
        width: 90%;
        margin: 0 0 24px 0;
        .flabel {
            color: $form-label-text-color;
            width: 33%;
            float: left;
            text-align: right;
            padding: 2% 5% 2% 0;
        }
        input {
            color: $form-text-color;
            background: $form-general-field-color;
            font-size: 20px;
            width: 59%;
            margin: 0;
            border: 0;
            padding: 1.5%;
            border-radius: 6px;
        }
        img {
            // width: 100%;
        }
    }    
    .fselect {
        margin: 48px 24px 0;
        input[type=checkbox] {
            -ms-transform: scale(2); /* IE */
            -moz-transform: scale(2); /* FF */
            -webkit-transform: scale(2); /* Safari and Chrome */
            -o-transform: scale(2); /* Opera */
        }
    }
    .fsubmit input {
        border: 0;
        border-radius: 12px;
        margin: 24px 0 20px 0;
        width: 60%;
        background: $green-accent;
        font-size: 20px;
        color: $form-general-submit-text-color;
        padding: 9px;
    }
    .fcrop {
        width: 100%;
        text-align: center;
        .image {
            margin: 0 auto 24px;
            width: 300px;
        }
    }
    .preview {
        width: 100%;
        text-align: center;
    }
    .green-label {
        color: $form-label-text-color;
        font-weight: bold;
        margin: 0 0 12px 0;
    }
    #avatar_crop_preview_wrapper {
        margin: 0 auto;
    }
    #user-bio textarea {
        background: $form-general-field-color;
        color: $form-label-text-color;
        padding: 12px;
        font-size: 14px;
        line-height: 20px;
        width: 56%;
        margin: 12px 0 0 0;
        border:0;
        border-radius: 6px;
    }
}

/* FLASH MESSAGES */
.flash-warning, .flash-notice {
    ul {
        list-style: none;
    }
    width: 100%;
    text-align: center;
    padding: 4px 0;
}
.flash-warning {
    background: red;
    color: white;
}
.flash-notice {
    background: green;
    color: white;
}

/* PAGE CONTENT WRAPPER */
.page-wrapper {
    max-width: 800px;
    width: 100%;
    margin: -50px auto 50px;
    background: #cccccc;
    h1 {
        width: 100%;
        padding: 30px 0 0 0;
    }  
}
.text-content-wrapper {
    padding: 0 0 50px;
    width: 90%;
    margin: -50px auto 0;
}

/* USER PROFILE */
.user-image {
    img {
        border-radius: 20px;
    }
}






/* BREAKPOINTS */
@media only screen and (max-width: 800px) {
    
    /* NAVIGATION */
    .menu-collapsed {
        margin: 6px auto 5px;
        display: inline-block; 
        cursor: pointer;
        text-align: center;
        width: 100%;
        border-top: 2px $dropdown-hover solid;
        padding: 6px 0 0 0;
    }
    .screen-top-navigation {
        font-family: $dropdown-font;
        line-height: 30px;
        width: 100%;
        .current {
            background: #444444;
        }
        ul {
            display: none; 
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100%;
            li {
                padding: 6px 0;
                margin: 0;
                clear: both;
                text-align: center;
                width: 100%;
                border-bottom: 1px #333333 dotted;
            }    
        }
        
    }
    
    /* USER MENU DROPDOWN */
    .user-nav {
        text-align: center;
    }
    
}










.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
