<div class="user-nav clearfix">
  <div class="dropdown">
    <button class="dropbtn">Hey Stranger!</button>
    <div class="dropdown-content">
      <%= link_to("Register", new_user_path) unless request.path == new_user_path %>
      <%= link_to("Log In", login_path) unless request.path == login_path %>
    </div>
    <%= image_tag("avatar/tiny.jpg") %>
  </div> 
  <div class="screen-top-navigation"><%= render(:partial =>'layouts/navigation') %></div>
</div>  