<div class="user-nav">
  <% new_mail = @current_user.private_messages.where(read_date: nil).count %>
  <div class="dropdown">
    <button class="dropbtn"><%= link_to(image_tag("new-mail.png"), private_messages_url) if new_mail > 0 %><%= @current_user.name %></button>
    <div class="dropdown-content">
      <%= link_to(new_mail.to_s + " unread messages", private_messages_url) %>
      <%= link_to("Profile", user_url(@current_user)) %>
      <%= link_to("All Users", users_url) %>
      <%= link_to("Log Out", logout_path) %>
    </div>
    <%= image_tag @current_user.avatar.url(:tiny) %>
  </div> 
  <div class="screen-top-navigation"><%= render(:partial =>'layouts/navigation') %></div>
</div>  