<div class="menu-collapsed" id="menu-expander">  
  <%= image_tag('menu-collapsed.png') %>
</div>
<ul>
  <li <%= 'class="current"'.html_safe if request.path == "/" %>><%= link_to("Home", root_url) %></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">Whatever</a></li>
</ul>