<!DOCTYPE html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet"> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="user-menu clearfix">  
  <%= logged_in? ? render(:partial =>'layouts/logged-in-user') : render(:partial => 'layouts/logged-out-user') %>
</div> 

<% if request.path == "/" %>
  <div class="hero">
    <div class="text">
      <h1>Stonewall On Rails</h1>
    </div>
  </div>
<% end %>  

<% unless flash[:warning].nil? %>
  <div class="flash-warning">
    <ul><%= flash[:warning].html_safe %></ul>
  </div>
<% end %>
  
<% unless flash[:notice].nil? %>
  <div class="flash-notice">
    <ul><%= flash[:notice].html_safe %></ul>
  </div>
<% end %>  
  
<div class="page-wrapper">
  <%= yield %>
</div>  

</body>
</html>
